body, html{
    text-shadow: 1px 4px 8px rgba(0,0,0,0.2);
    overflow-x: hidden;
    scroll-behavior: smooth;
    overflow-wrap: break-word;
}


.bg{
    background-image: url("https://unsplash.com/photos/QxZoAYJjfWk/download");
    
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y:auto;
}

#home{
    height: 100vh;
}

#leftside{
    height:500px;
    background-color: lightcoral;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px 5px 5px;
    border-radius: 50%;
    opacity: .9;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.fa-facebook {
    background: #4a739c;
    color: white;
}


.fa-twitter {
    background: #0093cc;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-github {
    background: #333;
    color: white;
}

.aboutMe{
    background-color: #576675;
    color: floralwhite;
    display: block;
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 30px;
    -moz-box-shadow:    0 -5px 5px 0 #555;
    -webkit-box-shadow: 0 -5px 5px 0 #555;
    box-shadow:         0 -5px 5px 0 #555;
}


hr{
    border-top: 30px solid rgba(255, 255, 255,.9);
    width: 150px;
    padding-bottom: 50px;
}

.skills{
    background-color: #3e4559;
    color: floralwhite;
    display: block;
    padding-bottom: 25px;
    padding-top: 25px;
    -moz-box-shadow:    0 5px 5px 0 #555;
    -webkit-box-shadow: 0 5px 5px 0 #555;
    box-shadow:         0 5px 5px 0 #555;
}

.projects{
    background-color: #4a739c;
    color: floralwhite;
    display: block;
    padding-bottom: 25px;
    padding-top: 25px;
    
}

.volunteer{
    background-color: #7A8B8B;
    color: floralwhite;
    display: block;
    padding-top: 25px;
}

.footer{
    color: floralwhite;
    display: block;
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: gray;
}


.square{
    width: 40%;
    height: 40%;
}


img{
    padding-bottom: 2%;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  -moz-box-shadow:    5px 0 5px 0 #555;
  -webkit-box-shadow: 5px 0 5px 0 #555;
  box-shadow:         5px 0 5px 0 #555;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color:darkgray;
}





.padding{
    padding-bottom: 10%;
    padding-top: 10%;
}

nav{
    opacity: .7;
    font-size: 2vw;
    -moz-box-shadow:    0 5px 5px 0 #555;
    -webkit-box-shadow: 0 5px 5px 0 #555;
    box-shadow:         0 5px 5px 0 #555;
}

a:hover{
    text-decoration: none;
}


textarea{
    width: 400px;
    height: 300px;
}




#sidebarAttribute{
    font-size: 2vw;
}

h1, h2{
    text-shadow: 1px 1px;
}

.quotes {
    display: none;
    color: gray;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.aboutMeFont{
    font-size: 1vw;
}


@media(max-width: 575.98px){
    
    .h5{
        font-size: 13px;
    }
    
    
    .centerText{
        clear: both;
    }
    
    .you{
        width: 200px;
        height: 200px;
    }
    
    .centerYouImg{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
}


@media(max-width: 412px){
    .centerText{
        clear: both;
    }
    
    .you{
        width: 100px;
        height: 100px;
    }
    
    .centerYouImg{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

/*iphone x*/
@media (max-width: 376px){
    
    .albanyPic{
        width: 50vw;
        height: 60vw;
    }
    
    .plaguePic{
        width:  50vw;
        height: 65vw;
    }
    
    .you{
        width: 200px;
        height: 200px;
    }
    
    .centerYouImg{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    .titleName{
        font-size: 12vw;
    }
    
    .quotes{
        font-size: 10vw;
    }
    
    .thankYou{
        font-size: 17vw;
    }
    
    .sidebar {
      height: 10;
      width: 100;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      -moz-box-shadow:    5px 0 5px 0 #555;
      -webkit-box-shadow: 5px 0 5px 0 #555;
      box-shadow:         5px 0 5px 0 #555;
    }

    .sidebar a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    .sidebar a:hover {
      color: #f1f1f1;
    }

    .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
      color:darkgray;
    }
    
    #sidebarAttribute{
        font-size: 7vw;
    }
    
    .messageArea{
        width: 300px;
        height: 200px;
    }
}

/*Pixel 2 XL */
@media (max-width: 411px){
    
    albanyPic{
        width: 200px;
        height: 200px;
    }
    .you{
        width: 200px;
        height: 200px;
    }
    
    .centerYouImg{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    #burger{
        font-size: 5vw;
    }
    
    #navItem{
        font-size: 3vh;
        min-height: 10vh;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    
    
    .centerText{
        clear: both;
    }
    
    .you{
        width: 200px;
        height: 200px;
    }
    
    .centerYouImg{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
    
    .albanyPic{
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    
    .you{
        width: 300px;
        height: 300px;
    }
    
    .centerYouImg{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
    
    .centerText{
        clear: both;
    }
    
    .collpasePlease{
        height: 60vh;
    }
    
    #burger{
        font-size: 5vw;
    }
    
    #navItem{
        font-size: 3vh;
        min-height: 10vh;
    }
    
    #monogramBottom{
        width: 150px;
        height: 150px;
    }
    
    html{
        font-size: 20px;
    }
    
    
    #center{
         margin: auto;
    }
}